/* 
Primary (Brand Color): #E68A2E (Amber Orange) -- 230, 138, 46
Background (Light): #F7F4EF (Ivory Mist) -- 247, 244, 239
Text (Light BG): #1E1E1E (Deep Charcoal)  -- 30, 30, 30

ALTERNATE COLORS
Navbar (Dark): #2E4057 (Deep Blue-Gray) -- 46, 64, 87 
*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #2E4057;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-brand {
    font: 'Roboto', sans-serif;
    color: #F7F4EF;
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #E68A2E;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    filter: invert(100%) sepia(59%) saturate(366%) hue-rotate(317deg) brightness(107%) contrast(93%);
    
}

.icon-btn:hover {
    filter: invert(60%) sepia(41%) saturate(862%) hue-rotate(346deg) brightness(95%) contrast(90%);
}

.icon-img {
    width: 32px;
    height: 32px;

}

.container-custom{
    color:#1E1E1E;
    margin-top: 100px;
    text-align: center;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
}
